@model Web.Models.Profile.ProfileVm

@{
    ViewBag.Title = "Редагувати профіль";
    Layout = "_Layout";
}


<partial name="EditUser" model="Model"/>


@if (Model.UserVm.ProfileEnabled && Model.TutorVm != null)
{
    <!-- Calendar -->
    <div class="tab-pane fade active show" id="schedule" role="tabpanel" aria-labelledby="pills-reviews-tab">
        <div class="bg-white rounded shadow-sm p-4 mb-4">
            <div class="container mt-4">
                <div class="d-flex">
                    <div class="p2">
                        <h4 class="mb-1">Графік свободного часу репетитора</h4>
                        <div><i class="fa fa-info "></i> Зображені години, у які є можливість займатися з новими учнями</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div id="calendar" data-tutorid="@Model.TutorVm.Id"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Calendar -->
    @section Scripts
    {
        <script type="text/javascript" src="~/js/edit-calendar.js" asp-append-version="true"></script>
    }

}