@model Web.Models.Profile.ProfileVm

@{
    ViewBag.Title = "Edit Tutor Profile";
    Layout = "_Layout";
}
<div class="row">
    <div class="row m-3"></div>
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>

<div class="card bg-light mb-3" id="subjects">
    <div class="card-body">
        <partial name="EditUser"/>
    </div>
</div>

@if (Model.UserVm.ProfileEnabled && Model.TutorVm != null)
{
    <!-- Calendar -->
    <div class="card bg-light mt-3" id="schedule">
        <div class="card-body">
            <h5 class="card-title text-center">Графік робочого часу репетитора</h5>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div><i class="fa fa-info "></i> Зображені години, у які є можливість займатися з учнями.</div>
                    <div id="calendar" data-tutorid="@Model.TutorVm.Id"></div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts
    {
        <script type="text/javascript" src="~/js/tutor-profile/edit-calendar.js" asp-append-version="true"></script>
    }
}