@model Domain.Commands.CreateRequestCommand

<div class="d-flex">
    <div class="p2">
        <h4 class="mb-1">Графік свободного часу репетитора</h4>
        <div><i class="fa fa-info "></i> Зображені години, у які є можливість займатися з новими учнями</div>
    </div>
    <div class="ml-auto">
        <a onclick="addNewEvent(null);" class=" text-whitу">
            Додати заявку на заняття
            <i class="fas fa-plus btn btn-primary ml-1"></i>
        </a>
    </div>
</div>
<div class="row d-flex justify-content-end">
    <div id="calendar" data-tutorid="@Model.TutorId" data-userid="@Model.CreatedId"></div>
</div>

<div class="modal fade" id="requestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="LessonRequest" asp-action="Create" onsubmit="send_request(this);return false;" name="requestForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">Запис до репетитора</h5>
                </div>
                <div class="modal-body mb-3">
                    <input asp-for="TutorId" id="tutorProfileId" class="form-control" type="hidden"/>

                    <div class="list-group list-group-flush">
                        <div class="input-group">
                            <select asp-for="SubjectId" class="form-select" asp-items="@Model.Subjects" id="subject"></select>
                            <span asp-validation-for="SubjectId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="From" class="form-label"></label>
                            <input asp-for="From" id="timeFrom" class="form-control" type="datetime-local"></input>
                        </div>
                        <div class="form-group">
                            <label asp-for="To" class="form-label"></label>
                            <input asp-for="To" id="timeTo" class="form-control" type="datetime-local"></input>
                        </div>
                        <div class="form-group">
                            <label asp-for="Comment" class="form-label"></label>
                            <textarea asp-for="Comment" rows="6" id="tutorComment" class="form-control"></textarea>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                    <button type="submit" class="btn btn-primary">Підтвердити</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="auth-modal" tabindex="-1" aria-labelledby="authmodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authmodal">Інформаційне повідомлення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Дорогий гість, зверни увагу, що тільки зареєстровані користувачі можуть надсилати запити до репетиторів.
                <a class="link-primary" asp-area="Identity" asp-page="/Account/Login">Вхід</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>