@using Infra.DatabaseAdapter.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Models.LessonRequest.LessonRequestVm;

@{
    ViewData["Title"] = "Історія запитів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-pane fade active show" id="schedule" role="tabpanel" aria-labelledby="pills-reviews-tab">
    <div class="bg-white rounded shadow-sm p-4 mb-4">
        <div class="container mt-4">
            <div class="d-flex">
                <div class="p2">
                    <h4 class="mb-1">Історія запитів користувача</h4>
                </div>
            </div>
            <div class="row">
                <partial name="RequestTable" model="@Model.MyRequests"/>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade active show" id="schedule" role="tabpanel" aria-labelledby="pills-reviews-tab">
    <div class="bg-white rounded shadow-sm p-4 mb-4">
        <div class="container mt-4">
            <div class="d-flex">
                <div class="p2">
                    <h4 class="mb-1">Запити користувачів на заняття</h4>
                </div>
            </div>
            <div class="row">
                <partial name="RequestTable" model="@Model.RequestsForMe"/>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

}