@using Infra.DatabaseAdapter.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Models.LessonRequest.LessonRequestVm;

@{
    ViewData["Title"] = "Історія запитів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-5">Історія запитів користувача</h1>
<partial name="RequestTable" model="@Model.MyRequests"/>
<h1 class="mt-5">Запити користувачів на заняття</h1>
<partial name="RequestTable" model="@Model.RequestsForMe"/>

<partial name="RequestUpdate" model="@Model.RequestUpdate"/>

@section Scripts
{
    var item;
    <script type="text/javascript">
    $('#updateStatus').on('show.bs.modal', function (event) {
        // console.log("updateStatus")
        item = $(event.relatedTarget).data('item') // Extract info from data-* attributes
        document.updateRequest.tutorProfileId.value = item.TutorId
        document.updateRequest.rId.value = item.Id
        let from = new Date(item.From)
        let to = new Date(item.To)
        from.setMinutes(from.getMinutes() - from.getTimezoneOffset());
        to.setMinutes(to.getMinutes() - to.getTimezoneOffset());
        document.updateRequest.timeFrom.value =from.toISOString().slice(0, -1);
        document.updateRequest.timeTo.value = to.toISOString().slice(0, -1);
    })
    </script>
}