@model Web.Models.LessonRequest.LessonRequestViewModel;

@{
    ViewData["Title"] = "Історія запитів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-5">Історія запитів користувача</h1>
<partial name="RequestTable" model="@Model.MyRequests" />
<h1 class="mt-5">Запити користувачів на заняття</h1>
<partial name="RequestTable" model="@Model.RequestsForMe" />