@model Infra.DatabaseAdapter.Models.SubjectModel

@{
    ViewData["Title"] = "Вилучення предмету";
    Layout = "_LayoutFormSm";
}


<h5 class="my-4">Ви впевнені, що хочете видалити '@Html.DisplayFor(model => model.Name)'?</h5>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <div class="row">
        <div class="col col-6 d-flex justify-content-start">
            <a class="btn btn-secondary mr-4 " asp-action="Index">До списку</a>
        </div>
        <div class="col col-6  d-flex justify-content-end">
            <input type="submit" value="Видалити" class="btn btn-danger"/>
        </div>
    </div>
</form>