@model Infra.DatabaseAdapter.Models.SubjectModel

@{
    ViewData["Title"] = "Редагування предметів";
    Layout = "_LayoutFormSm";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="d-flex">
        <div class="mr-auto">
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </div>
        <div class="px-2">
            <input type="submit" value="Зберегти" class="btn btn-primary"/>
        </div>
        <div>
            <a class="btn btn-secondary " asp-action="Index">Скасувати</a>
        </div>
    </div>
</form>