@model IEnumerable<Infra.DatabaseAdapter.Models.SubjectModel>

@{
    ViewData["Title"] = "Список предметів";
    Layout = "_Layout";
}

<div class="container-lg">
    <div class="row h-100 d-flex justify-content-center">
        <div class="col-lg-8 col">
            <div class="bg-white rounded shadow-sm p-4 mb-4">
                <div class="row">
                    <div class="d-flex pb-4">
                        <div class="p2">
                            <h4 class="mb-1">@ViewData["Title"]</h4>
                        </div>
                        <div class="ml-auto">
                            <a asp-action="Create" class=" text-whitу">
                                Додати новий предмет
                                <i class="fas fa-plus btn btn-primary ml-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Subject List -->
                <div class="row">
                    <table class="table pretty-table  table-striped ">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="text-right">
                                Дії
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-right">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <!-- End Subject List -->
            </div>
        </div>
    </div>
</div>