@{
    Layout = "_LayoutFilterTable";
}

<h1>Керуйте своїм обліковим записом</h1>

<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}