@inject SignInManager<UserModel> SignInManager
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Index")" id="profile" asp-page="./Index">User Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PageNavClass(ViewContext, "Email")" id="email" asp-page="./Email">Email</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PageNavClass(ViewContext, "ChangePassword")" id="change-password" asp-page="./ChangePassword">Password</a>
    </li>
</ul>