@model Web.Models.TutorProfile.ProfileVm

@{
    ViewBag.Title = "Edit Tutor Profile";
    Layout = "_Layout";
}
<div class="row">
    <div class="row m-3"></div>
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>

<div class="card bg-light mb-3" id="subjects">
    <div class="card-body">
        <partial name="EditUser" />


    </div>
</div>