<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand">Tutor Search MVC</a>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="TutorProfile" asp-action="SearchTutor">Find Tutor</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        For Students
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="TutorProfile" asp-action="SearchTutor">Find Tutor</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        For Tutors
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link text-dark" asp-controller="TutorProfile" asp-action="Details" asp-route-id="1">View My Profile</a>
                        <a class="nav-link text-dark" asp-controller="TutorProfile" asp-action="Edit" asp-route-id="1">Edit My Profile</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="InDevelopment">Calendar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger/index.html">Swagger</a>
                </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>