<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand">Tutor Search MVC</a>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Profile" asp-action="Index">Пошук репетитора</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Profile" asp-action="Details">Профіль репетитора</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="LessonRequest" asp-action="Index">Мої запити</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Lesson" asp-action="Index">Мої уроки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Assignment" asp-action="Index">Мої задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Solution" asp-action="Index">Мої завдання</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Адміністрування
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link text-dark" asp-controller="City" asp-action="Index">Список міст</a>
                        <a class="nav-link text-dark" asp-controller="Subject" asp-action="Index">Список предметів</a>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">Про нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger/index.html">Swagger</a>
                </li>
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>