@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Topbar Navbar -->
    <a class="navbar-brand" asp-controller="Profile" asp-action="Index">
        <img src="~/img/logo.png" width="30" height="30" alt="">
    </a>
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index">Пошук репетиторів</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="LessonRequest" asp-action="Index">Запити</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Lesson" asp-action="Index">Уроки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Assignment" asp-action="Index">Мої завдання</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Solution" asp-action="Index">Завдання для виконання</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="About">Про нас</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>

        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_SignedNavBar"/>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Зареєструватися</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вхід</a>
            </li>
        }
    </ul>

</nav>
<!-- End of Topbar -->