@using Infra.DatabaseAdapter.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Domain.Helpers
@using Microsoft.OpenApi.Extensions
@model Web.Models.Assignments.SolutionVm

@{
    ViewData["Title"] = "Урок #" + Model.Solution.Id;
}

<h1>@ViewData["Title"]</h1>

<hr/>

<div class="row">
    <h2>Завдання</h2>
    <div class="form-group">
        <label asp-for="Solution.AssignmentTitle" class="control-label"></label>
        <input asp-for="Solution.AssignmentTitle" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Solution.Description" class="control-label"></label>
        <input asp-for="Solution.Description" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Solution.TutorName" class="control-label"></label>
        <input asp-for="Solution.TutorName" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Solution.Deadline" class="control-label"></label>
        <input asp-for="Solution.Deadline" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Solution.SubjectName" class="control-label"></label>
        <input asp-for="Solution.SubjectName" class="form-control" readonly/>
    </div>
</div>
<partial name="FilesForm" model="@Model.Solution.AssignmentFiles"/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Solution.Id"/>

            <div class="form-group">
                <label asp-for="Solution.StudentName" class="control-label"></label>
                <input asp-for="Solution.StudentName" class="form-control" readonly/>
                <span asp-validation-for="Solution.StudentName" class="text-danger"></span>
            </div>
            <!-- Student Answer -->
            <div class="form-group">
                <label asp-for="Solution.Answer" class="control-label"></label>
                @if (!Model.IsTutor && Model.Solution.Status == SolutionStatus.Todo)
                {
                    <input asp-for="Solution.Answer" class="form-control"/>
                    <span asp-validation-for="Solution.Answer" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Solution.Answer" class="form-control" readonly/>
                }
            </div>
            <!-- Tutor comment -->
            <div class="form-group">
                <label asp-for="Solution.TutorComment" class="control-label"></label>
                @if (Model.IsTutor && Model.Solution.Status != SolutionStatus.Completed)
                {
                    <input asp-for="Solution.TutorComment" class="form-control"/>
                    <span asp-validation-for="Solution.TutorComment" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Solution.TutorComment" class="form-control" readonly/>
                }
            </div>
            <!-- Solution Status -->
            <div class="form-group">
                <label asp-for="Solution.Status" class="form-check-label mt-2"></label>
                @if (Model.IsTutor && Model.Solution.Status != SolutionStatus.Completed)
                {
                    <select asp-for="Solution.Status" class="form-select" id="status" asp-items="Html.GetEnumSelectList<SolutionStatus>()"></select>
                    <span asp-validation-for="Solution.Status" class="text-danger"></span>
                }
                else
                {
                    <label class="form-control" readonly>@Model.Solution.Status.GetDisplayName()</label>
                }
            </div>

            <!-- Sumbin -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div class="mt-4 row">
    <partial name="FilesForm" model="@Model.Solution.SolutionFiles"/>
    <div class="row">
        <form id="uploadform" asp-controller="Files" asp-action="Upload" enctype="multipart/form-data">
            <div class="col col-md-8">
                <input type="hidden" asp-for="Solution.Id" name="solutionId"/>
                <label class="form-control" type="file" id="FormFile" name="FormFile"></label>
            </div>
            <div class="col col-md-4">
                <button type="submit" class="btn btn-primary ">Завантажити файл</button>
            </div>
        </form>
    </div>
</div>

<div class="mb-3">
    <label for="formFileSm" class="form-label">Small file input example</label>
    <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>


<div class="mt-4 row">
    <div class="col">
        <a asp-action="Index" class="btn btn-secondary" role="button">Назад до списку</a>
    </div>
</div>