@model Web.Models.RemoveUser.RemoveUserVm;

@{
    ViewBag.Title = "Видалення даних користувачів";
    Layout = "_LayoutFormSm";
}

<form asp-action="DeactivateUser" method="post" class="text-center">
    <div class="form-group">
        <label asp-for="UserId" class="form-check-label mt-2"></label>
        <select asp-for="UserId" class="selectpicker  form-control" data-live-search="true" asp-items="@Model.UserList"></select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <button class="btn btn-danger btn-block" type="submit">Видалити дані користувача</button>
</form>